*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing:border-box;
    background-color: rgb(211, 207, 207);
}
.container{
    height:100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height:60px;
    border-radius:10px ;
    box-shadow:5px 5px 15px rgb(0,50,10,8,2);
    background: transparent;
    font-size:20px;
    color:rgb(240, 31, 31);
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px, 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    border-bottom: none;
}
form input.equal{
    width: 145px;
}